.card {
  width: 130px;
  cursor: pointer;
  display: inline-block;
  height: 204px;
  padding: 10px;
  margin: 10px;
  word-break: break-all;
  vertical-align: top;
  border-radius: 10px;
  box-shadow: 7px 7px 9px 0 #dedede;
  background: #ff5b32;
  background: linear-gradient(135deg,  #ff5b32 0%,#ffb744 100%);

  &.revealed {
    background: #f0f0f0;
  }

  &.special {
    background: blue;
  }
}
