.card {
  width: 130px;
  cursor: pointer;
  display: inline-block;
  height: 204px;
  padding: 10px;
  margin: 10px;
  word-break: break-all;
  vertical-align: top;
  border-radius: 10px;
  box-shadow: 7px 7px 9px 0 #dedede;
  background: #197c03;
  background: linear-gradient(135deg, #197c03 0%,#0cffb2 100%);

  &.revealed {
    background: #f0f0f0;
  }

  .language-card {
    font-size: 24px;
    text-align: center;
    margin-top: 26px;
  }

  .special-card {
    font-size: 28px;
    text-align: center;
    margin-top: 26px;
    text-transform: uppercase;
  }
}
