.card-timer {
  display: flex;
  margin: 0 auto;
  width: 50%;
  height: 20px;
}
.card-timer-placeholder {
  height: 20px;
}

.num-sec-left {
  flex: 1;
}

.num-sec-progress {
  flex: 3;
  align-self: center;
}
